<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bloducspauter.mapper.BlogMapper">


    <insert id="addRelation" parameterType="com.bloducspauter.bean.BlogTag">
        insert into tag_relation (blog_id, tag_id) values (#{blogId}, #{tagId});
        <selectKey keyProperty="blogId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>



    <select id="fuzzyQuery" resultType="com.bloducspauter.bean.Blog">
        select * from blog
        <where>title like "%"#{title}"%"</where>
        AND deleted = 0
        <if test='userId != -1'> AND user_id = #{userId} </if>
        limit #{page},#{size}
    </select>

    <select id="randomQuery" resultType="com.bloducspauter.bean.Blog">
        SELECT * FROM blog AS t1 JOIN
        (SELECT ROUND(RAND() * ((SELECT MAX(blog_id) FROM blog) - (SELECT MIN(blog_id) FROM blog)) + (SELECT MIN(blog_id) FROM blog))
            AS id FROM blog) AS t2 ON t1.blog_id = t2.id
        AND deleted = 0
        limit #{page},#{size}
    </select>

    <select id="selectByBlogLimit" resultType="com.bloducspauter.bean.Blog" parameterType="com.bloducspauter.bean.Blog">
        SELECT blog_id, title, description, type, create_time, update_time, user_id, field_id, author, status
        FROM blog
        <where>
            deleted = 0
            <if test='userId != -1'> AND user_id = #{userId} </if>
        </where>
        LIMIT #{page}, #{size}
    </select>

    <select id="selectDeletedBlogLimit" resultType="com.bloducspauter.bean.Blog" parameterType="com.bloducspauter.bean.Blog">
        select blog_id,title,description,type,create_time,update_time,user_id,field_id,author,status from blog
        <where> deleted = 1 </where>AND user_id = #{userId} limit #{page},#{size}
    </select>


    <select id="selectByTag" resultType="com.bloducspauter.bean.Tag">
        SELECT * FROM tag WHERE name IN
        <foreach collection="list" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>



    <select id="selectblogbytag" resultType="com.bloducspauter.bean.Blog">
        select * from blog where blog_id in
        (select blog_id from tag_relation
            where tag_id in
            (select tag_id from tag where name = #{tagname}) and deleted = 0 )
    </select>
</mapper>