<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bloducspauter.mapper.FieldMapper">
    <select id="selectBlogbyField" resultType="com.bloducspauter.bean.Blog" parameterType="com.bloducspauter.bean.Blog">
    select * from db_mybatis.blog where field_id = #{Fieldid}
        <if test='user_id != -1'> AND user_id = #{user_id} </if>
    limit #{page},#{size};
    </select>
    <select id="selectBlogbytitle" resultType="com.bloducspauter.bean.Blog" parameterType="com.bloducspauter.bean.Blog">
        select * from db_mybatis.blog   <where>title like "%"#{param3}"%"</where>
        AND field_id = #{param1}
        <if test='userId != -1'> AND user_id = #{param2} </if>
        limit #{page},#{size};
    </select>

</mapper>