@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #009688;
}

ol, ul, li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  overflow-x: auto;
  min-width: 1500px;
  overflow-y: scroll !important;
}

i {
  color: #009688;
}

/* S 个人信息页面 */
.user_avatar_show {
  padding: 3rem 4rem;
}

.user_avatar_show .user_avatar_frame {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.user_avatar_show .user_avatar_frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.user_avatar_show .user_avatar_push {
  margin-top: 1rem;
  width: 20rem;
}

.user_avatar_show .user_avatar_push i {
  color: white;
}

.user_avatar_show .user_avatar_push p {
  font-size: 1rem;
  color: #807C7C;
  padding: 1rem;
}

.user_info_form {
  width: 50rem;
  margin-top: 3rem;
}

.user_info_form .layui-form .layui-form-item .layui-form-label {
  color: #009688;
}

.user_info_form .layui-form .layui-form-item .save {
  width: 10rem;
  margin-top: 5rem;
  margin-left: 11rem;
  background: #00B894;
}

/* E 个人信息页面 */
/* S 账户管理 */
.account_show {
  padding: 2rem;
}

.account_show p {
  margin: 2rem 0rem;
  color: #009688;
}

.account_show p span {
  color: gray;
}

.account_show .pwd_change {
  width: 45rem;
}

.account_show .pwd_change .layui-form-label {
  color: #009688;
}

.account_show .pwd_change .change_btn {
  margin-left: 11rem;
}

/* E 账户管理 */
/* S 博客编辑 */
.editor_blog {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.editor_blog .layui-form-item {
  width: 80rem;
}

.editor_blog .layui-form-item .layui-form-label {
  color: #009688;
}

.media_check_frame {
  border: 1px solid #dfe6e9;
  width: 40rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.media_check_frame .content_icon {
  text-align: center;
}

.media_check_frame .content_icon i {
  font-size: 4rem;
}

.media_check_frame .content_text p {
  color: #009688;
}

body .editormd-preview-close-btn {
  display: none;
}

#editormd {
  margin-top: 2rem;
}

.blog_btn {
  width: 20rem;
  margin-left: 2rem;
}

.media_layer_content {
  height: 40rem;
  padding: 2rem;
  overflow-y: auto;
}

.media_layer_content::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
}

.media_layer_content::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px #009688;
  background: #009688;
}

.media_layer_content::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.media_layer_content .layer_content_frame {
  width: 25rem;
  height: 18rem;
  display: inline-block;
  border: 1px solid #dfe6e9;
  margin: 1rem;
}

.media_layer_content .layer_content_frame .media_layer_input {
  display: none;
}

.media_layer_content .layer_content_frame .img_frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
}

.media_layer_content .layer_content_frame .media_layer_input:checked ~ .img_frame {
  box-shadow: 0px 0px 10px 2px #009688;
}

.media_layer_content .layer_content_frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.media_layer_btn {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  border-top: 1px solid #dfe6e9;
}

/* S 博客编辑 */
/* S 分类和标签 */
.category_frame {
  border: 1px solid #dfe6e9;
  margin: 2rem;
  width: 60rem;
  height: 30rem;
  padding: 2rem;
}

.category_frame .category_add {
  position: relative;
}

.category_frame .category_add .add_btn {
  position: absolute;
  top: 0;
  right: 0;
}

.category_frame .category_show {
  height: 20rem;
  overflow: auto;
}

.category_frame .del_btn {
  float: right;
  background-color: #ce4e4e;
}

.content_container {
  margin-bottom: 10rem;
}

/* E 分类和标签 */
/* S 媒体库 */
.media_show {
  margin: 4rem 1rem;
  border: 1px solid #dfe6e9;
}

.media_show .media_show_title {
  background-color: #00B894;
  color: white;
  padding: 1rem 2rem;
}

.media_show .media_show_content {
  padding: 1rem 1rem 0rem 1rem;
}

.media_show .media_show_content .file_show {
  padding-bottom: 0;
}

.media_show .media_show_content .file_show .picture_show {
  height: 40rem;
  padding: 2rem;
  overflow-y: auto;
}

.media_show .media_show_content .file_show .picture_show::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
}

.media_show .media_show_content .file_show .picture_show::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px #009688;
  background: #009688;
}

.media_show .media_show_content .file_show .picture_show::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.media_show .media_show_content .file_show .picture_show .img_show_frame {
  width: 25rem;
  height: 18rem;
  display: inline-block;
  border: 1px solid #dfe6e9;
  margin: 1rem;
}

.media_show .media_show_content .file_show .picture_show .img_show_frame .img_show_input {
  display: none;
}

.media_show .media_show_content .file_show .picture_show .img_show_frame .img_frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
}

.media_show .media_show_content .file_show .picture_show .img_show_frame .img_show_input:checked ~ .img_frame {
  box-shadow: 0px 0px 10px 2px #00B894;
}

.media_show .media_show_content .file_show .picture_show .img_show_frame .img_name {
  text-align: center;
  padding: 1rem 0rem;
}

.media_show .media_show_content .file_show .picture_show .img_show_frame img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.media_show .media_show_content .file_show .music_show {
  height: 40rem;
  padding: 2rem;
  overflow-y: auto;
}

.media_show .media_show_content .file_show .music_show::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
}

.media_show .media_show_content .file_show .music_show::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px #009688;
  background: #009688;
}

.media_show .media_show_content .file_show .music_show::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.media_show .media_show_content .file_show .music_show .music_show_list {
  padding: 1rem 0rem;
  border-bottom: 1px solid #dfe6e9;
}

.media_show .media_show_footer {
  border-top: 1px solid #dfe6e9;
  height: 5rem;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.media_show .media_show_footer .del_btn {
  background-color: #ce4e4e;
}

.drag_frame {
  margin: 3rem;
}

.drag_frame .layui-upload-drag {
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#music_upload {
  margin: 3rem;
}

#music_upload i {
  color: white;
}

/* E 媒体库 */
/* S 首页管理 */
.index_frame {
  margin: 2rem;
  border: 1px solid #00B894;
}

.index_frame .index_frame_top {
  padding: 2rem;
  background: white;
}

.index_frame .index_frame_top h3 {
  color: #009688;
}

.index_frame .index_frame_content {
  height: 50rem;
  background: #00B894;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index_frame .index_frame_content h4 {
  font-size: 3rem;
  color: white;
}

.index_frame .index_frame_content p {
  margin-top: 2rem;
  color: white;
}

.title_set {
  width: 60rem;
  margin-top: 10rem;
}

.title_set .layui-form-label {
  color: #009688;
}

/* E 首页管理 */
/* S 博客管理 */
.manageblog_frame {
  margin: 2rem;
}

.manageblog_frame .manageblog_frame_top {
  display: flex;
  align-items: center;
}

.manageblog_frame .manageblog_frame_top .del_checked {
  background-color: #ce4e4e;
}

.manageblog_frame .manageblog_frame_top .search_frame {
  height: 100%;
  width: 30rem;
  margin-left: 20rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border: 1px solid #dfe6e9;
  position: relative;
}

.manageblog_frame .manageblog_frame_top .search_frame label {
  color: #009688;
}

.manageblog_frame .manageblog_frame_top .search_frame .search_frame_input {
  width: 20rem;
  outline: none;
  border: none;
  padding: 0rem 1rem;
}

.manageblog_frame .manageblog_frame_top .search_frame .search_btn {
  position: absolute;
  right: 1rem;
}

.manageblog_frame .manageblog_frame_content {
  margin-top: 5rem;
}

.manageblog_frame .manageblog_frame_content thead tr {
  background: #009688;
}

.manageblog_frame .manageblog_frame_content thead tr th {
  color: white;
}

.manageblog_frame .manageblog_frame_content .layui-table-cell {
  height: 3.5rem;
}

.media_check_frame {
  overflow: hidden;
}

.media_check_frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* E 博客管理 */
/* S 加载圆圈 */
.load_icon {
  display: inline-block;
  animation: rotate  linear 1s 0s infinite;
  animation-delay: 0s;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -15%;
  margin-top: -15%;
}

.load_icon i {
  font-size: 5rem;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

/* E 加载圆圈 */
/*# sourceMappingURL=backstage.css.map */